@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*{
    background-color: rgb(22, 22, 78);
    color: white;
    font-family:cursive;
}

.main{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    border-bottom:0.5px solid;
    border-color: gray;
}   
.start h1{
    padding-bottom: 1rem;
}
.info{
    display: flex;
    justify-content: space-around;

}
.info span{
    padding-left:5rem;
}
 h5{
    font-size: 1rem;
}
p{
    font-size: 0.75rem;
}
    
.footer{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
footer{
    text-align: center;
    padding-bottom: 3rem;
}
footer p{
    color: rgb(109, 109, 109);
}

@media (max-width: 1024px) and (min-width:600px) {
    
    .main{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    footer{
        text-align: left;
        margin-left: 20%;
        margin-right: 20%;
    }

      
}

@media (max-width: 600px) {
    
    .main{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

    }
    /* footer{
        text-align: left;
        margin-left: 20%;
        margin-right: 20%;
    } */

      
}